body {
    background-color: #f9f9f9;
    font-family: 'Segoe UI', sans-serif;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  .navbar-nav .nav-link {
    font-size: 1.2rem;  
    padding: 15px 20px; 
  }
  .navbar-brand img {
    width: 50px; 
  }
  .navbar {
    padding: 15px 0;  
  }
  .navbar-nav .nav-link.active {
    font-size: 1.3rem;  
    font-weight: bold;  
  }
  .newsletter {
    text-align: center;
    margin: 0 auto;
  }
  
  .newsletter input[type="email"],
  .newsletter button {
    margin: 0.5rem;
  }  